body   { background: #ffffff; }
table { width: 100%; }

div.top {
  margin-left: auto;
  margin-right: auto;
  --bigclock-version: 0.9
}
div.chromeHD { /* For chromecast on a 16:9 screen */
  width: 95%;
  height: 480px;
  margin-top: 25px;
}
div.chrome43 { /* For chromecast on a 4:3 screen */
  width: 85%;
  height: 600px;
  margin-top: 25px;
}

div.version {
  visibility: hidden;
  position: absolute;
  font-size: 12pt; font-weight: normal;
  color: #ff00ff;
}
div#version { top: 0; left:  0; }
div#options { top: 0; right: 0; }
div.chrome43 div#version { top: 15px; left:  85px; }
div.chrome43 div#options { top: 15px; right: 85px; }

/* raceinfo aka big-race-clock */
tr.header      th { font-size: 48pt; font-weight: bold; }
table.bigclock th { font-size: 30pt;  font-weight: normal; text-align: center; }
table.bigclock td { font-size: 120pt; font-weight: bold; text-align: center; }
table.footer   th { font-size: 24pt;  font-weight: normal; }

col.laps     { width: 40%; }
col.time     { width: 60%; }
col.leaders  { width: 50%; }
col.tod      { width: 50%; }
th.leaders   { text-align: left; }
th.tod       { text-align: right; }

/* bigtod time-of-day clock */
table.bigtod th { font-size:  60pt; font-weight: bold; text-align: center; }
table.bigtod td { font-size: 220pt; font-weight: bold; text-align: center; }
div.chrome43 table.bigtod td { font-size: 200pt; }

/* global status display */
div.status   { font-size: 24pt; font-weight: normal; text-align: center; }
span#message { color: #0000ff; display: none; }
span#error   { color: #ff0000; }
