[Unit]
Description=Big Race Clock
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/big-clock/big-clock --no-gui --http-port=80 --https-port=443 --cert-file=/etc/big-clock.crt --key-file=/etc/big-clock.key --syslog -
Restart=on-failure

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
