[Unit]
Description=Big Race Clock
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/big-clock/big-clock --no-gui --http-port=80%i --https-port=84%i --data-port=90%i --monitor-port=98%i --console-port=97%i --rmrelay-port=96%i --cert-file=/etc/big-clock.crt --key-file=/etc/big-clock.key --syslog - 500%i
Restart=on-failure

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
