body   { background: #ffffff; }
#global { position: absolute; top: 0; left: 0; width: 1920px; }


#majors-logo { position: absolute; top: 25px; left:  25px; width: 10%; }
#region-logo { position: absolute; top: 25px; right: 25px; width: 10%; }
#diamond-logo { position: absolute; top: 25px; left: 200px; width: 10%; }
#hist-logo { position: absolute; top: 35px; left:   25px; width: 9%; }
#gpad-logo { position: absolute; top: 45px; right:  25px; width: 6%; }
img.square {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin-top: auto; margin-bottom: auto;
  padding-top: 50%;
  width: 100%;
}

#banner {
  margin-left: auto; margin-right: auto;
  width: 75%; height: 10%;
  margin-top: 25px;
}
h1 { font-size: 40pt; text-align: center; margin: .1em; color: blue;  }

#livetime {
  position: absolute;
  top: 160px; left: 25px;
  width: 1024px; height: 640px;
  padding: 0; overflow: hidden;
}

#bcwrap {
  position: absolute;
  top: 160px; right: 25px;
  width: 768px; height: 430px;
  padding: 0; overflow: hidden;
}
#bigclock {
  width: 1280px; height: 720px;
  padding: 0; overflow: hidden; border: 0;
  transform: scale(0.60);
  transform-origin: 0 0;
}

#announce {
  position: absolute;
  top: 600px; right: 25px;
  width: 768px; height: 200px;
  padding: 0; overflow: hidden;
}
#announce h2 {
  font-size: 18pt; font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0; overflow: hidden;
  color: red;
}
#announce ul { margin-top: 0; margin-bottom: 0; }
#announce li { font-size: 14pt; }

#signs {
  position: absolute;
  top: 800px; left: 25px; right: 25px;
  width: 1870px; height: 150px;
}
#signs th { font-size: 24pt; }
